[Desktop Entry]
Type=Application
Name=File Flier
GenericName=File Manager
Comment=Fast, keyboard-driven file manager
Exec=file-flier %U
Icon=io.github.andrew11155.FileFlier
Terminal=false
Categories=System;FileTools;FileManager;
Keywords=files;folders;explorer;browser;manager;
MimeType=inode/directory;
StartupWMClass=io.github.andrew11155.FileFlier
